<!-- START: Categories -->
{%load static%}
<div class="nk-gap-2"></div>
<div class="row vertical-gap">
    <div class="col-lg-4">
        <div class="nk-feature-1">
            <div class="nk-feature-icon">
                <img src="{%static 'assets/images/icon-mouse.png'%}" alt="">
            </div>
            <div class="nk-feature-cont">
                <h3 class="nk-feature-title"><a href="{%url 'games' cat='pc'%}">PC</a></h3>
                <h4 class="nk-feature-title text-main-1"><a href="{%url 'games' cat='pc'%}">View Games</a></h4>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="nk-feature-1">
            <div class="nk-feature-icon">
                <img src="{% static 'assets/images/icon-gamepad.png'%}" alt="">
            </div>
            <div class="nk-feature-cont">
                <h3 class="nk-feature-title"><a href="{%url 'games' cat='ps'%}">PS</a></h3>
                <h4 class="nk-feature-title text-main-1"><a href="{%url 'games' cat='ps'%}">View Games</a></h4>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="nk-feature-1">
            <div class="nk-feature-icon">
                <img src="{% static 'assets/images/icon-gamepad-2.png'%}" alt="">
            </div>
            <div class="nk-feature-cont">
                <h3 class="nk-feature-title"><a href="{%url 'games' cat='xbox'%}">Xbox</a></h3>
                <h4 class="nk-feature-title text-main-1"><a href="{%url 'games' cat='xbox'%}">View Games</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<!-- END: Categories -->